h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 2rem 0px;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

p {
  align-items: center;
  font-size: 20px;
  margin: 5px 0px;
  width: auto;
}

img {
  width: 30px;
  margin: 5px 10px;
}
